[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/vim-scripts/surround.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/mhz/vim-matchit.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/cclow/vim-bufexplorer.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/vim-scripts/tComment.git
[submodule "bundle/autocomplpop"]
	path = bundle/autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/vim-scripts/ZenCoding.vim.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "bundle/JavaScript-Omni-Completion"]
	path = bundle/JavaScript-Omni-Completion
	url = https://github.com/vim-scripts/Javascript-OmniCompletion-with-YUI-and-j.git
[submodule "bundle/Better-Javascript-Indentation"]
	path = bundle/Better-Javascript-Indentation
	url = https://github.com/vim-scripts/Better-Javascript-Indentation.git
[submodule "bundle/JumpToCSS"]
	path = bundle/JumpToCSS
	url = https://ptrin@github.com/ptrin/JumpToCSS.git
[submodule "bundle/Better-CSS-Syntax-for-Vim"]
	path = bundle/Better-CSS-Syntax-for-Vim
	url = https://github.com/ChrisYip/Better-CSS-Syntax-for-Vim
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
	url = https://github.com/walm/jshint.vim.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = https://github.com/andrewle/vim-autoclose.git
