[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
