snippet sec
/*  ------------------------------------------------------------
	  ${1}
	------------------------------------------------------------ */
endsnippet

snippet com
/*  ${1}  ------------------------------------------------------------ */
endsnippet
