snippet =>
=> {
	${1}
}
endsnippet
snippet nim
import { ${1} } from '${2}';
endsnippet

snippet log
console.log( ${1} );
endsnippet

snippet us
"use strict";
endsnippet

snippet rclass
var ${1:Component} = React.createClass({
	render: function() {
		return (
			${2}
		);
	}
});
endsnippet

snippet desc
describe('${1:Suite description}', function () {
    ${2}
});
endsnippet

snippet it
it('${1:Test description}', function () {
    ${2}
});
endsnippet
